body{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color:#f8f8f8;
}
.container{
    font-style: italic;
    color: #000000;
    font-size: 20px;
}
.subheading{
    font-size: 18px;
    font-seight: 400;
    background color: #eaeaea;
}
.subhead1{
    font-size: 14px;
    line-height: 16px;
    background color: #707070;
    font-style: italic;
}
.subhead2{
    font-size: 16px;
    font-weight: 400;
    background color: #484343;
    line-height: 24px;
    text-align: left;
}
