body{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background:url(https://on-desktop.com/wps/2019Food___Cakes_and_Sweet_Multicolored_candies_on_gray_background_135012_.jpg);
    height: 100vh;
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;

}